#navbar-wrapper {
    z-index:999;  /*fixed in top level*/
    top: 0;
    min-height: max-content;
    width: 100%;
    position: fixed;
    background: #282c34;
    display: block;
    color: dimgray;
}

a {
    width: auto;
    color: gainsboro;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    text-decoration: blink;
}

a:hover {
    color: #8AC2E3;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    text-decoration: blink;
}

a:visited {
    color: gainsboro;
    background-color: #282c34;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    text-decoration: blink;
}

.banner {
    left: 0;
    display: flex;
    text-align-all: center;
    font-weight: bolder;
    font-size: 2vmax;
    color: gainsboro;
    align-items: center;
}

.container {
    display: flex;
    right: 0;
}

.App-logo {
    height: auto;
    width: auto;
    left: 0;
    display: flex;
}

.title {
    height: inherit;
    text-align: center;
    display: flex;
}

.NavLink-active {
    color: gainsboro;
    text-decoration: blink;
}

.NavLink-visited {

    text-decoration: blink;
}

.navigation-items ul {
    padding: 0 0.5rem;
    display: flex;
    list-style: none;
    font-size: 85%;
}

.navigation-items li {
    padding: 0 0.5rem;
    display: flex;
    width: auto;
    list-style: none;
}

.spacer {
    flex: 1;
}