#navbar-wrapper {
    z-index:999;  /*fixed in top level*/
    top: 0;
    min-height: max-content;
    width: 100%;
    position: fixed;
    background: #282c34;
    display: block;
    color: dimgray;
}

.banner {
    left: 0;
    position: fixed;
    text-align-all: center;
    font-weight: bolder;
    font-size: 2vmax;
    color: gainsboro;
}

.App-logo {
    height: auto;
    width: auto;
    display: inline;
}

.title {
    height: inherit;
    text-align: center;
    display: inline;
}

.NavLink-active{
    color: gainsboro;
}

a {
    color: gainsboro;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    text-decoration: blink;
}
