#navbar-wrapper {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: revert;
    color: revert;
}

.banner {
    left: 0;
    float: left;
    position: fixed;
    text-align-all: center;
    font-weight: bolder;
    font-size: x-large;
    font-family: bolder, serif;
}

.App-logo {
    height: 100%;
    width: 100%;
}