html,body,div{
  min-height: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.App {
  display: block;
  text-align: center;
}
.App-logo {
  height: auto;
  width: auto;
  font-size: 10%;
  display: block;
}
.App-body {
  background-color: aliceblue;
  overflow: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  background-color: #282c34;
  bottom: 0;
  position: page;
}
.App-footer.div {
  min-height: 0;
}
.App-link {
  color: #61dafb;
}
.Nav-panel {
  width: auto;
  height: auto;
  display: inline-block;
}
.header-content {
  width: 100%;
}
.spinner {

  animation: Loading-spin infinite 20s linear;
}
@keyframes Loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

