

#TitleBar {
    position: absolute;
    left: 0;
    bottom: 0;
}
#Logo {
    display: inline;
    vertical-align: middle;
    width: 8.6vmax;
    animation: switch, 2s, linear, 0s, infinite, alternate;
}
#HomeTitle {
    color: #dcdcdc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.2vmax;
    font-weight: bolder;
    display: inline;
    vertical-align: middle;
}
.Nav-panel {
    width: 100%;
    position: fixed;
}
.normal {
    font-family: Georgia, sans-serif;
    margin-top: 3em;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: -1px;
}

.welcome {
    height: 328px;
    background-size: 388px 328px;
}

.list {
    font-size: 1.2em;
    margin-top: 1.8em;
    list-style: none;
    line-height: 1.5em;
}

.list code {
    background: #f7f7f7;
}
